# 0. Configuration

In [1]:
# links to shared data MovieLens
# source on kaggle: https://www.kaggle.com/code/quangnhatbui/movie-recommender/data
MOVIES_METADATA_URL = 'https://drive.google.com/file/d/19g6-apYbZb5D-wRj4L7aYKhxS-fDM4Fb/view?usp=share_link'

In [2]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)

In [3]:
!pip install pymystem3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymystem3 in /usr/local/lib/python3.8/dist-packages (0.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from pymystem3) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (1.26.14)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->pymystem3) (2.10)

In [4]:
!pip install gensim==4.3.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gensim==4.3.0
  Downloading gensim-4.3.0-cp38-cp38-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (24.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.1/24.1 MB 38.5 MB/s eta 0:00:00
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.8/dist-packages (from gensim==4.3.0) (6.3.0)
Collecting FuzzyTM>=0.4.0
  Downloading FuzzyTM-2.0.5-py3-none-any.whl (29 kB)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/dist-packages (from gensim==4.3.0) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.8/dist-packages (from gensim==4.3.0) (1.10.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from FuzzyTM>=0.4.0->gensim==4.3.0) (1.3.5)
Collecting pyfume
  Downloading pyFUME-0.2.25-py3-none-any.whl (67 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.1/67.1 KB 7.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->FuzzyTM>=0.4.0->gensim==4.3.0) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->FuzzyTM>=0.4.0->gensim==4.3.0) (2.8.2)
Collecting fst-pso
  Downloading fst-pso-1.8.1.tar.gz (18 kB)
  Preparing metadata (setup.py) ... done
Collecting simpful
  Downloading simpful-2.10.0-py3-none-any.whl (31 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->FuzzyTM>=0.4.0->gensim==4.3.0) (1.15.0)
Collecting miniful
  Downloading miniful-0.0.6.tar.gz (2.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from simpful->pyfume->FuzzyTM>=0.4.0->gensim==4.3.0) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim==4.3.0) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim==4.3.0) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim==4.3.0) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->simpful->pyfume->FuzzyTM>=0.4.0->gensim==4.3.0) (1.26.14)
Building wheels for collected packages: fst-pso, miniful
  Building wheel for fst-pso (setup.py) ... done
  Created wheel for fst-pso: filename=fst_pso-1.8.1-py3-none-any.whl size=20443 sha256=c4c813570dc77c5946f665665351f8182c6390e8e0f5bf8fe667914b072c7ca8
  Stored in directory: /root/.cache/pip/wheels/6a/65/c4/d27eeee9ba3fc150a0dae150519591103b9e0dbffde3ae77dc
  Building wheel for miniful (setup.py) ... done
  Created wheel for miniful: filename=miniful-0.0.6-py3-none-any.whl size=3530 sha256=aa9025d445db9eea414347d10d5cd5d8d9447444b17cd530920dc1547fb869a3
  Stored in directory: /root/.cache/pip/wheels/ba/d9/a0/ddd93af16d5855dd9bad417623e70948fdac119d1d34fb17c8
Successfully built fst-pso miniful
Installing collected packages: simpful, miniful, fst-pso, pyfume, FuzzyTM, gensim
  Attempting uninstall: gensim
    Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed FuzzyTM-2.0.5 fst-pso-1.8.1 gensim-4.3.0 miniful-0.0.6 pyfume-0.2.25 simpful-2.10.0

# 1. Modules and functions

In [5]:
import re
import nltk
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
from ast import literal_eval
from pymystem3 import Mystem
from string import punctuation
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import gensim
from gensim.models.doc2vec import Doc2Vec, TaggedDocument

import warnings
warnings.filterwarnings('ignore')

# download stop words beforehand
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
gensim.__version__

'4.3.0'

## 1.1. Helper functions to avoid copypaste

In [7]:
def read_csv_from_gdrive(url):
    """
    gets csv data from a given url (taken from file -> share -> copy link)
    :url: example https://drive.google.com/file/d/1BlZfCLLs5A13tbNSJZ1GPkHLWQOnPlE4/view?usp=share_link
    """
    file_id = url.split('/')[-2]
    file_path = 'https://drive.google.com/uc?export=download&id=' + file_id
    data = pd.read_csv(file_path)

    return data

In [10]:
# init lemmatizer to avoid slow performance
mystem = Mystem() 

def word_tokenize_clean(doc: str, stop_words: list):
    '''
    tokenize from string to list of words
    '''

    # split into lower case word tokens \w lemmatization
    tokens = list(set(mystem.lemmatize(doc.lower())))
  
    # remove tokens that are not alphabetic (including punctuation) and not a stop word
    tokens = [word for word in tokens if word.isalpha() and not word in stop_words \
              not in list(punctuation)]
    return tokens

# 2. Main

## 2.1. Data Preparation

In [11]:
# read csv information about films etc
movies_metadata = read_csv_from_gdrive(MOVIES_METADATA_URL)
movies_metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [12]:
# let's see what columns we have
movies_metadata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

To get accurate results we need to preprocess text a bit. The pipeline will be as follows:

- Filter only necessary columns from movies_metadada : id, original_title, overview;
- Define `model_index` for model to match back with `id` column;
- Text cleaning: removing stopwords & punctuation, lemmatization for further tokenization and tagged document creatin required for gensim.Doc2Vec

In [18]:
# filter cols
sample = movies_metadata[['id', 'original_title', 'overview']].copy()
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              45466 non-null  object
 1   original_title  45466 non-null  object
 2   overview        44512 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB

In [19]:
# as you see from above, we have missing overview in some cases -- let's fill it with the original title
sample.loc[sample['overview'].isnull(), 'overview'] = sample.loc[sample['overview'].isnull(), 'original_title']
sample.isnull().sum()

id                0
original_title    0
overview          0
dtype: int64

In [20]:
# define model_index and make it as string
sample = sample.reset_index().rename(columns = {'index': 'model_index'})
sample['model_index'] = sample['model_index'].astype(str)

In [21]:
sample

,model_index,id,original_title,overview
0,0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,1,8844,Jumanji,When siblings Judy and Peter discover an encha...
2,2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...,...,...
45461,45461,439050,رگ خواب,Rising and falling between a man and woman.
45462,45462,111109,Siglo ng Pagluluwal,An artist struggles to finish his work while a...
45463,45463,67758,Betrayal,"When one of her hits goes wrong, a professiona..."
45464,45464,227506,Satana likuyushchiy,"In a small town live two brothers, one a minis..."
45465,45465,461257,Queerama,50 years after decriminalisation of homosexual...

In [22]:
# create mapper with title and model_idnex to use it further in evaluation
movies_inv_mapper = dict(zip(sample['original_title'].str.lower(), sample['model_index'].astype(int)))

In [34]:
movies_inv_mapper

{'toy story': 0,
 'jumanji': 1,
 'grumpier old men': 2,
 'waiting to exhale': 3,
 'father of the bride part ii': 4,
 'heat': 29042,
 'sabrina': 888,
 'tom and huck': 7,
 'sudden death': 8,
 'goldeneye': 9,
 'the american president': 10,
 'dracula: dead and loving it': 11,
 'balto': 12,
 'nixon': 13,
 'cutthroat island': 14,
 'casino': 15,
 'sense and sensibility': 41042,
 'four rooms': 17,
 'ace ventura: when nature calls': 18,
 'money train': 19,
 'get shorty': 20,
 'copycat': 21,
 'assassins': 22,
 'powder': 23,
 'leaving las vegas': 24,
 'othello': 21274,
 'now and then': 26,
 'persuasion': 40837,
 'la cité des enfants perdus': 28,
 '摇啊摇，摇到外婆桥': 29,
 'dangerous minds': 30,
 'twelve monkeys': 31,
 'guillaumet, les ailes du courage': 32,
 'babe': 33,
 'carrington': 34,
 'dead man walking': 35,
 'across the sea of time': 36,
 'it takes two': 29129,
 'clueless': 38,
 'cry, the beloved country': 26667,
 'richard iii': 17719,
 'dead presidents': 41,
 'restoration': 38571,
 'mortal kombat': 43,
 'to die for': 44,
 'how to make an american quilt': 45,
 'se7en': 46,
 'pocahontas': 47,
 'when night is falling': 48,
 'the usual suspects': 49,
 'guardian angel': 50,
 'mighty aphrodite': 51,
 'lamerica': 38204,
 'the big green': 53,
 'georgia': 54,
 'kids of the round table': 55,
 'home for the holidays': 33568,
 'il postino': 57,
 'le confessionnal': 58,
 'the indian in the cupboard': 59,
 'eye for an eye': 60,
 "mr. holland's opus": 61,
 "don't be a menace to south central while drinking your juice in the hood": 62,
 'two if by sea': 63,
 'bio-dome': 64,
 'lawnmower man 2: beyond cyberspace': 65,
 'two bits': 66,
 'gazon maudit': 67,
 'friday': 68,
 'from dusk till dawn': 69,
 'fair game': 39403,
 'kicking and screaming': 71,
 'les misérables': 21794,
 'bed of roses': 19880,
 'big bully': 74,
 'screamers': 41220,
 'nico icon': 76,
 'the crossing guard': 77,
 'the juror': 78,
 'بادکنک سفید': 79,
 "things to do in denver when you're dead": 80,
 'antonia': 81,
 'once upon a time... when we were colored': 82,
 'last summer in the hamptons': 83,
 'angels and insects': 84,
 'white squall': 85,
 'dunston checks in': 86,
 'black sheep': 12138,
 'nick of time': 88,
 'the journey of august king': 89,
 'mary reilly': 90,
 'vampire in brooklyn': 91,
 'beautiful girls': 92,
 'broken arrow': 11937,
 "a midwinter's tale": 94,
 'la haine': 95,
 'shopping': 96,
 'heidi fleiss: hollywood madam': 97,
 'city hall': 98,
 'bottle rocket': 99,
 'mr. wrong': 100,
 'unforgettable': 43232,
 'happy gilmore': 102,
 'the bridges of madison county': 103,
 'keiner liebt mich': 104,
 'muppet treasure island': 105,
 'catwalk': 106,
 'headless body in topless bar': 107,
 'braveheart': 108,
 'taxi driver': 109,
 '紅番區': 110,
 'before and after': 111,
 "margaret's museum": 112,
 'le bonheur est dans le pré': 113,
 'anne frank remembered': 114,
 "the young poisoner's handbook": 115,
 'if lucy fell': 116,
 'steal big steal little': 117,
 'race the sun': 118,
 'the boys of st. vincent': 119,
 'boomerang': 120,
 '重慶森林': 121,
 "l'uomo delle stelle": 122,
 'flirting with disaster': 123,
 'the neverending story iii': 124,
 'صمت القصور': 125,
 "jupiter's wife": 126,
 'pie in the sky': 36585,
 'angela': 128,
 'frankie starlight': 129,
 'jade': 130,
 'nueba yol': 131,
 'sonic outlaws': 132,
 'down periscope': 133,
 'from the journals of jean seberg': 134,
 'man of the year': 11330,
 'the neon bible': 136,
 'target': 8878,
 'up close & personal': 138,
 'the birdcage': 139,
 'gospa': 140,
 'the brothers mcmullen': 141,
 'bad boys': 29494,
 'the amazing panda adventure': 143,
 'the basketball diaries': 144,
 'an awfully big adventure': 145,
 'amateur': 146,
 'apollo 13': 147,
 'rob roy': 148,
 'the addiction': 149,
 'batman forever': 150,
 'belle de jour': 151,
 'beyond rangoon': 152,
 'blue in the face': 153,
 'canadian bacon': 154,
 'casper': 155,
 'clockers': 156,
 'congo': 157,
 'crimson tide': 158,
 'crumb': 159,
 'desperado': 160,
 'devil in a blue dress': 161,
 'die hard: with a vengeance': 162,
 'the doom generation': 163,
 'feast of july': 164,
 'first knight': 165,
 'free willy 2 - the adventure home': 166,
 'hackers': 167,
 'jeffrey': 168,
 'johnny mnemonic': 169,
 'judge dredd': 170,
 'jury duty': 171,
 'kids': 172,
 'living in oblivion': 173,
 'lord of illusions': 174,
 'love & human remains': 175,
 'mad love': 11620,
 'mallrats': 177,
 'mighty morphin power rangers: the movie': 178,
 'moonlight and valentino': 179,
 'mute witness': 180,
 'nadja': 181,
 'the net': 182,
 'nine months': 183,
 'party girl': 27977,
 'the prophecy': 185,
 'reckless': 14294,
 'safe': 18906,
 'the scarlet letter': 18903,
 'the show': 31868,
 'showgirls': 190,
 'smoke': 191,
 'something to talk about': 192,
 'species': 193,
 'the stars fell on henrietta': 194,
 'strange days': 195,
 'les parapluies de cherbourg': 196,
 'the tie that binds': 197,
 'three wishes': 198,
 'total eclipse': 199,
 'to wong foo, thanks for everything! julie newmar': 200,
 'under siege 2: dark territory': 201,
 'unstrung heroes': 202,
 'unzipped': 203,
 'a walk in the clouds': 204,
 'waterworld': 205,
 "white man's burden": 206,
 'wild bill': 19205,
 'the browning version': 10251,
 'bushwhacked': 209,
 'утомлённые солнцем': 210,
 'before the rain': 211,
 'before sunrise': 212,
 'billy madison': 213,
 'the babysitter': 214,
 'boys on the side': 215,
 'the cure': 18680,
 'castle freak': 217,
 'circle of friends': 218,
 'clerks': 219,
 'don juan demarco': 220,
 'disclosure': 221,
 'dream man': 222,
 'drop zone': 223,
 'destiny turns on the radio': 224,
 'death and the maiden': 225,
 'dolores claiborne': 226,
 'dumb and dumber': 227,
 '飲食男女': 228,
 'exotica': 229,
 'exit to eden': 230,
 'ed wood': 231,
 'french kiss': 232,
 'forget paris': 233,
 'far from home: the adventures of yellow dog': 234,
 'a goofy movie': 235,
 'hideaway': 236,
 'fluke': 237,
 'farinelli': 238,
 'gordy': 239,
 'gumby: the movie': 240,
 'the glass shield': 241,
 'hoop dreams': 242,
 'heavenly creatures': 243,
 'houseguest': 244,
 'immortal beloved': 245,
 'heavyweights': 246,
 'the hunted': 6081,
 'i.q.': 248,
 'interview with the vampire': 249,
 'jefferson in paris': 250,
 'the jerky boys': 251,
 'junior': 42989,
 'just cause': 253,
 "a kid in king arthur's court": 254,
 'kiss of death': 10602,
 'star wars': 256,
 'little women': 6902,
 'a little princess': 44736,
 'ladybird ladybird': 259,
 "l'enfer": 15107,
 'como agua para chocolate': 261,
 'legends of the fall': 262,
 'major payne': 263,
 'little odessa': 264,
 'mi vida loca': 265,
 'love affair': 6688,
 'losing isaiah': 267,
 'the madness of king george': 268,
 'frankenstein': 36050,
 'man of the house': 9731,
 'mixed nuts': 271,
 'milk money': 272,
 'miracle on 34th street': 2285,
 'miami rhapsody': 274,
 'my family': 275,
 'murder in the first': 276,
 "nobody's fool": 8889,
 'nell': 278,
 'new jersey drive': 279,
 'new york cop': 280,
 'beyond bedlam': 281,
 'nemesis 2 - nebula': 282,
 'nina takes a lover': 283,
 'natural born killers': 284,
 'only you': 285,
 'once were warriors': 286,
 'poison ivy ii: lily': 287,
 'outbreak': 288,
 'léon': 289,
 'the perez family': 290,
 "a pyromaniac's love story": 291,
 'pulp fiction': 292,
 'panther': 293,
 'pushing hands': 294,
 'priest': 17108,
 'quiz show': 296,
 'picture bride': 297,
 'la reine margot': 298,
 'the quick and the dead': 13489,
 'roommates': 300,
 'prêt-à-porter': 301,
 'trois couleurs : rouge': 302,
 'trois couleurs : bleu': 303,
 'trois couleurs : blanc': 304,
 'pao da shuang deng': 305,
 'rent-a-kid': 306,
 'relative fear': 307,
 'stuart saves his family': 308,
 'the swan princess': 309,
 'the secret of roan inish': 310,
 'the specialist': 311,
 'stargate': 312,
 'the santa clause': 313,
 'the shawshank redemption': 314,
 'shallow grave': 315,
 'suture': 316,
 'fresa y chocolate': 317,
 'swimming with sharks': 318,
 'the sum of us': 319,
 'senior trip': 320,
 '活着': 321,
 'tank girl': 322,
 'tales from the crypt: demon knight': 323,
 'star trek: generations': 324,
 'tales from the hood': 325,
 'tom & viv': 326,
 'village of the damned': 2440,
 'tommy boy': 328,
 'vanya on 42nd street': 329,
 'the underneath': 26453,
 'the walking dead': 7659,
 "what's eating gilbert grape": 332,
 'virtuosity': 333,
 'while you were sleeping': 334,
 'the war': 19158,
 'double happiness': 336,
 "muriel's wedding": 337,
 'the baby-sitters club': 338,
 'ace ventura: pet detective': 339,
 'the adventures of priscilla, queen of the desert': 340,
 'backbeat': 341,
 'bitter moon': 342,
 'bullets over broadway': 343,
 'clear and present danger': 344,
 'the client': 345,
 'corrina, corrina': 346,
 'crooklyn': 347,
 'the crow': 348,
 'cobb': 349,
 'the flintstones': 350,
 'forrest gump': 351,
 'four weddings and a funeral': 352,
 'higher learning': 353,
 'i like it like that': 354,
 'i love trouble': 26946,
 'it could happen to you': 356,
 'the jungle book': 31390,
 'die macht der bilder: leni riefenstahl': 358,
 'the lion king': 359,
 'little buddha': 360,
 'new nightmare': 361,
 'the mask': 27027,
 'maverick': 363,
 'mrs. parker and the vicious circle': 364,
 'the naked gun 33⅓: the final insult': 365,
 'the paper': 366,
 'reality bites': 367,
 'red rock west': 368,
 'ri¢hie ri¢h': 369,
 'safe passage': 370,
 'the river wild': 371,
 'speed': 372,
 'speechless': 373,
 'timecop': 374,
 'true lies': 375,
 'when a man loves a woman': 376,
 'wolf': 23075,
 'wyatt earp': 378,
 'bad company': 5292,
 'a man of no importance': 380,
 's.f.w.': 381,
 'a low down dirty shame': 382,
 'boys life: three stories of love, lust, and liberation': 383,
 'le colonel chabert': 384,
 'faster, pussycat! kill! kill!': 385,
 "jason's lyric": 386,
 'the secret adventures of tom thumb': 387,
 'street fighter': 388,
 'coldblooded': 389,
 'desert winds': 390,
 'fall time': 391,
 'the fear': 392,
 'frank and ollie': 393,
 'girl in the cadillac': 394,
 'homage': 395,
 'mirage': 10938,
 'open season': 11311,
 'dos crímenes': 398,
 'brother minister: the assassination of malcolm x': 399,
 'highlander iii: the sorcerer': 400,
 'federal hill': 401,
 'in the mouth of madness': 402,
 '8 seconds': 403,
 'above the rim': 404,
 'addams family values': 405,
 'martin lawrence: you so crazy': 406,
 'the age of innocence': 19762,
 'airheads': 408,
 'the air up there': 409,
 'another stakeout': 410,
 'bad girls': 411,
 'barcelona': 412,
 'being human': 413,
 'the beverly hillbillies': 414,
 'beverly hills cop iii': 415,
 'black beauty': 8202,
 'blink': 417,
 'blown away': 18154,
 'blue chips': 419,
 'blue sky': 420,
 'body snatchers': 421,
 'boxing helena': 422,
 'a bronx tale': 423,
 'cabin boy': 424,
 'calendar girl': 425,
 "carlito's way": 426,
 "city slickers ii: the legend of curly's gold": 427,
 'clean slate': 428,
 'cliffhanger': 429,
 'coneheads': 430,
 'color of night': 431,
 'cops & robbersons': 432,
 'the cowboy way': 433,
 'dangerous game': 434,
 'dave': 435,
 'dazed and confused': 436,
 'demolition man': 437,
 'the endless summer 2': 438,
 'even cowgirls get the blues': 439,
 'fatal instinct': 440,
 '霸王别姬': 441,
 'the favor': 442,
 'fearless': 443,
 'fear of a black hat': 444,
 'with honors': 445,
 'flesh and bone': 446,
 "widows' peak": 447,
 'for love or money': 42221,
 'the firm': 19164,
 'free willy': 450,
 'fresh': 38699,
 'the fugitive': 12175,
 'geronimo: an american legend': 453,
 'the getaway': 7577,
 'getting even with dad': 455,
 'go fish': 456,
 'a good man in africa': 457,
 'guilty as sin': 458,
 'hard target': 459,
 'heaven & earth': 460,
 'hot shots! part deux': 461,
 'live nude girls': 462,
 'the englishman who went up a hill but came down a mountain': 463,
 'the house of the spirits': 464,
 'house party 3': 465,
 'the hudsucker proxy': 466,
 "i'll do anything": 467,
 'in the army now': 468,
 'in the line of fire': 469,
 'in the name of the father': 470,
 'the inkwell': 471,
 "what's love got to do with it": 472,
 'jimmy hollywood': 473,
 'judgment night': 474,
 'jurassic park': 475,
 'kalifornia': 476,
 'killing zoe': 477,
 'king of the hill': 478,
 'lassie': 11227,
 'last action hero': 480,
 'life with mikey': 481,
 'lightning jack': 482,
 'm. butterfly': 483,
 'made in america': 484,
 'malice': 485,
 'the man without a face': 486,
 'manhattan murder mystery': 487,
 'menace ii society': 488,
 'executive decision': 489,
 '愛のコリーダ': 490,
 'what happened was...': 491,
 'much ado about nothing': 21063,
 'mr. jones': 25475,
 'mr. wonderful': 494,
 'mrs. doubtfire': 495,
 'naked': 40505,
 'the next karate kid': 497,
 'the new age': 498,
 'no escape': 32371,
 'north': 500,
 'orlando': 501,
 'a perfect world': 502,
 'philadelphia': 503,
 'the piano': 504,
 'poetic justice': 505,
 'the program': 33141,
 'the puppet masters': 507,
 'radioland murders': 508,
 'the ref': 509,
 'the remains of the day': 510,
 'renaissance man': 511,
 'rising sun': 512,
 'the road to wellville': 513,
 'robocop 3': 514,
 'robin hood: men in tights': 515,
 'romeo is bleeding': 516,
 'romper stomper': 517,
 'ruby in paradise': 518,
 'rudy': 519,
 'the saint of fort washington': 520,
 'les nuits fauves': 521,
 "schindler's list": 522,
 'the scout': 523,
 'searching for bobby fischer': 524,
 'second best': 525,
 'the secret garden': 41352,
 'serial mom': 527,
 'the shadow': 528,
 'shadowlands': 529,
 'short cuts': 530,
 'a simple twist of fate': 531,
 'sirens': 532,
 'six degrees of separation': 533,
 'sleepless in seattle': 534,
 'sliver': 535,
 'blade runner': 536,
 'son in law': 537,
 'so i married an axe murderer': 538,
 'striking distance': 539,
 'harem': 540,
 'super mario bros.': 541,
 'surviving the game': 542,
 'terminal velocity': 543,
 'thirty two short films about glenn gould': 544,
 'threesome': 545,
 'the nightmare before christmas': 546,
 'the three musketeers': 18589,
 'tombstone': 548,
 'trial by jury': 549,
 'true romance': 550,
 'the war room': 551,
 'the pagemaster': 552,
 'paris, france': 553,
 'the beans of egypt, maine': 554,
 'killer': 555,
 'welcome to the dollhouse': 556,
 'germinal': 557,
 'chasers': 558,
 'cronos': 559,
 'naked in new york': 560,
 'kika': 561,
 'bhaji on the beach': 562,
 'little big league': 563,
 'kådisbellan': 564,
 'wide eyed and legless': 565,
 'foreign student': 566,
 'io speriamo che me la cavo': 567,
 'spanking the monkey': 568,
 'the little rascals': 569,
 'à la mode': 570,
 'andre': 571,
 'la scorta': 572,
 'princess caraboo': 573,
 'the celluloid closet': 574,
 'métisse': 575,
 'caro diario': 576,
 'de eso no se habla': 577,
 'the brady bunch movie': 578,
 'home alone': 579,
 'ghost': 37121,
 'aladdin': 581,
 'terminator 2: judgment day': 582,
 'dances with wolves': 583,
 'tough and deadly': 584,
 'batman': 8603,
 'the silence of the lambs': 586,
 'snow white and the seven dwarfs': 587,
 'beauty and the beast': 42222,
 'pinocchio': 27686,
 'pretty woman': 590,
 'окно в париж': 591,
 'the wild bunch': 592,
 'love and a .45': 593,
 "the wooden man's bride": 594,
 'a great day in harlem': 595,
 'bye bye love': 596,
 'one fine day': 597,
 'candyman: farewell to the flesh': 598,
 'century': 599,
 'fargo': 600,
 'homeward bound ii: lost in san francisco': 601,
 'heavy metal': 602,
 'hellraiser: bloodline': 603,
 'the pallbearer': 604,
 'jane eyre': 44938,
 'loaded': 29145,
 'pane e cioccolata': 607,
 'the aristocats': 608,
 'la flor de mi secreto': 609,
 'two much': 610,
 'ed': 611,
 'schrei aus stein': 612,
 'ma saison préférée': 613,
 'a modern affair': 614,
 'condition red': 615,
 'asfour stah': 616,
 'a thin line between love and hate': 617,
 'the last supper': 618,
 'primal fear': 619,
 'rude': 620,
 'carried away': 621,
 'all dogs go to heaven 2': 622,
 'land and freedom': 623,
 'denise calls up': 624,
 'theodore rex': 625,
 'a family thing': 626,
 'frisk': 627,
 'sgt. bilko': 628,
 'jack & sarah': 629,
 'girl 6': 630,
 'diabolique': 631,
 'un indien dans la ville': 632,
 'roula - dunkle geheimnisse': 633,
 'peanuts – die bank zahlt alles': 634,
 'happy weekend': 635,
 'nelly & monsieur arnaud': 636,
 'courage under fire': 637,
 'mission: impossible': 638,
 'á köldum klaka': 639,
 'moll flanders': 640,
 'das superweib': 641,
 '삼공일 삼공이': 642,
 'dragonheart': 643,
 'und keiner weint mir nach': 644,
 "my mother's courage": 645,
 'eddie': 646,
 'yankee zulu': 647,
 "billy's holiday": 648,
 'plein soleil': 649,
 'august': 23621,
 'james and the giant peach': 651,
 'fear': 22538,
 'kids in the hall: brain candy': 653,
 'faithful': 654,
 'podzemlje': 655,
 'lust och fägring stor': 656,
 'bloodsport ii': 657,
 'পথের পাঁচালী': 658,
 'অপুর সংসার': 659,
 'mystery science theater 3000: the movie': 660,
 'tarantella': 661,
 'space jam': 662,
 'barbarella': 663,
 'hostile intentions': 664,
 'they bite': 665,
 'some folks call it a sling blade': 666,
 'the run of the country': 667,
 'alphaville, une étrange aventure de lemmy caution': 668,
 'coup de torchon': 669,
 'tigrero: a film that was never made': 670,
 "l'oeil de vichy": 671,
 'windows': 672,
 "it's my party": 673,
 'country life': 674,
 'operation dumbo drop': 675,
 'das versprechen': 44533,
 'mrs. winterbourne': 677,
 'solo': 30618,
 'etz hadomim tafus': 679,
 'the substitute': 20654,
 'true crime': 2448,
 'butterfly kiss': 682,
 'feeling minnesota': 683,
 'delta of venus': 684,
 'to cross the rubicon': 685,
 'angus': 686,
 'daens': 687,
 'faces': 688,
 'boys': 689,
 'the quest': 690,
 'cosi': 691,
 'sunset park': 692,
 'mulholland falls': 693,
 'the truth about cats & dogs': 694,
 'oliver & company': 695,
 'celtic pride': 696,
 'flipper': 8123,
 'captives': 698,
 'of love and shadows': 699,
 'dead man': 700,
 'le hussard sur le toit': 701,
 'switchblade sisters': 702,
 'boca a boca': 703,
 'les visiteurs': 704,
 'multiplicity': 705,
 'the haunted world of edward d. wood, jr.': 706,
 'due amici': 707,
 'the craft': 708,
 'the great white hype': 709,
 'last dance': 710,
 'war stories our mother never told us': 711,
 'cold comfort farm': 712,
 'institute benjamenta, or this dream people call human life': 713,
 "heaven's prisoners": 714,
 'original gangstas': 715,
 'the rock': 716,
 'getting away with murder': 717,
 'dellamorte dellamore': 718,
 'twister': 7430,
 'barb wire': 720,
 'le garçu': 721,
 'honigmond': 722,
 'ghost in the shell': 42309,
 'thinner': 724,
 'spy hard': 725,
 'brothers in trouble': 726,
 'a close shave': 727,
 'force of evil': 728,
 'the stupids': 729,
 'the arrival': 730,
 'the man from down under': 731,
 'dr. strangelove or: how i learned to stop worrying and love the bomb': 732,
 'careful': 733,
 'vermont is for lovers': 734,
 'a month by the lake': 735,
 'gold diggers: the secret of bear mountain': 736,
 'kim': 737,
 'carmen miranda: bananas is my business': 738,
 '東邪西毒': 739,
 'khomreh': 740,
 'maya lin: a strong clear vision': 741,
 'stalingrad': 742,
 'the phantom': 42034,
 'striptease': 744,
 'the last of the high kings': 745,
 'heavy': 746,
 'jack': 40386,
 'i shot andy warhol': 748,
 'the grass harp': 749,
 'tuđa amerika': 750,
 'la vie est belle': 751,
 'quartier mozart': 752,
 'touki-bouki': 753,
 'wend kuuni': 754,
 'histoires extraordinaires': 755,
 'babyfever': 756,
 "pharaoh's  army": 757,
 'trainspotting': 758,
 'til there was you': 759,
 'independence day': 760,
 'stealing beauty': 761,
 'the fan': 5518,
 'the hunchback of notre dame': 8303,
 'the cable guy': 764,
 'kingpin': 765,
 'eraser': 766,
 'the gate of heavenly peace': 767,
 'the nutty professor': 2027,
 'yo, la peor de todas': 769,
 'un été inoubliable': 770,
 'hol volt, hol nem volt': 771,
 "en compagnie d'antonin artaud": 772,
 'sibak': 773,
 'somebody to love': 774,
 'a very natural thing': 775,
 'la vieille qui marchait dans la mer': 776,
 'daylight': 18928,
 'the frighteners': 778,
 'lone star': 779,
 'harriet the spy': 780,
 'phenomenon': 781,
 'walking and talking': 782,
 "she's the one": 783,
 'a time to kill': 784,
 'american buffalo': 785,
 'les rendez-vous de paris': 786,
 'alaska': 787,
 'fled': 788,
 'kazaam': 789,
 'bűvös vadász': 790,
 'larger than life': 791,
 'a boy called hate': 792,

In [23]:
# preprocess by removing non-character data, stopwords
tags_corpus = sample['overview'].values
tags_corpus = [re.sub('-[!/()0-9]', '', x) for x in tags_corpus]
stop_words = stopwords.words('english')

tags_doc = [word_tokenize_clean(description, stop_words) for description in tags_corpus]
tags_corpus[:1]

["Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences."]

In [24]:
# prepare data as model input for Word2Vec
## it takes some time to execute
tags_doc = [TaggedDocument(words = word_tokenize_clean(D, stop_words), tags = [str(i)]) for i, D in enumerate(tags_corpus)]

In [26]:
# let's check what do we have
## tag = movie index
tags_doc[1]

TaggedDocument(words=['trapped', 'siblings', 'inside', 'running', 'hope', 'board', 'judy', 'invite', 'adult', 'opens', 'risky', 'years', 'alan', 'freedom', 'proves', 'terrifying', 'door', 'world', 'enchanted', 'monkeys', 'finish', 'creatures', 'discover', 'game', 'living', 'three', 'giant', 'room', 'rhinoceroses', 'magical', 'unwittingly', 'find', 'evil', 'peter'], tags=['1'])

# 2.2. Model Training and Evaluation

In [27]:
VEC_SIZE = 50
ALPHA = .02
MIN_ALPHA = .00025
MIN_COUNT = 5
EPOCHS = 20

In [28]:
# initialize
model = gensim.models.doc2vec.Doc2Vec(vector_size = VEC_SIZE,
                alpha = ALPHA, 
                min_alpha = MIN_ALPHA,
                min_count = MIN_COUNT,
                dm = 0)

In [31]:
# generate vocab from all tag docs
model.build_vocab(tags_doc)

WARNING:gensim.models.keyedvectors:sorting after vectors have been allocated is expensive & error-prone

In [32]:
# train model
model.train(tags_doc,
            total_examples = model.corpus_count,
            epochs = EPOCHS)

## 2.3. Evaluate the model

Let's assume that we watched movie `batman` and based on that generate recommendation similar to it's description.

To do that we need
- To extract movie id from `movies_inv_mapper` we created to map back titles from model output
- Load embeddings from trained model
- Use built-in most_similar() method to get most relevant recommendations based on film embedding
- Finally, map title names for sense-check

In [35]:
# get id
movie_id = movies_inv_mapper['batman']
movie_id

8603

In [36]:
# load trained embeddings 
movies_vectors = model.dv.vectors

In [37]:
movie_embeddings = movies_vectors[movie_id]

In [38]:
# get recommendations
similars = model.docvecs.most_similar(positive = [movie_embeddings], topn = 20)
output = pd.DataFrame(similars, columns = ['model_index', 'model_score'])
output.head()

  model_index  model_score
0        8603     1.000000
1        5713     0.963857
2       13835     0.963388
3       18468     0.960964
4       19227     0.955975

In [40]:
# reverse values and indices to map names in dataframe
name_mapper = {v: k for k, v in movies_inv_mapper.items()}

In [41]:
output['title_name'] = output['model_index'].astype(int).map(name_mapper)
output

   model_index  model_score                      title_name
0         8603     1.000000                          batman
1         5713     0.963857                        rollover
2        13835     0.963388                              k2
3        18468     0.960964  the incredible petrified world
4        19227     0.955975                   carbon nation
5         7772     0.953099               this island earth
6        43461     0.952637                       megafault
7        29872     0.952344                 angels die hard
8        43165     0.951495            the zookeeper's wife
9        35181     0.951366                  конек-горбунок
10       44339     0.950509           the underground world
11       26857     0.950339                  snow in august
12       25184     0.947736          penguins of madagascar
13       44053     0.947226                            arès
14       42040     0.947055                  equalizer 2000
15        2812     0.946699                             NaN
16       28148     0.946344                     speed cross
17       14178     0.946276                battle for terra
18       40614     0.945641              devil's playground
19       10227     0.945388                         stealth

# TODO

- Add `original_title`, `keywords`, `tagline` and other metadata to train sample and then retrain embeddings;
- Make visualization of embeddings with links of films with each other;
- Compare results with the embeddings we created in lecture
- Write function get_recommendations() which takes arguments we used 2.3., but such that we can use embeddings of several watched films to get recommendations

In [42]:
second_sample = movies_metadata[['id', 'original_title', 'overview', 'tagline']].copy()
second_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              45466 non-null  object
 1   original_title  45466 non-null  object
 2   overview        44512 non-null  object
 3   tagline         20412 non-null  object
dtypes: object(4)
memory usage: 1.4+ MB

In [43]:
second_sample.loc[second_sample['overview'].isnull(), 'overview'] = second_sample.loc[second_sample['overview'].isnull(), 'original_title']
second_sample.loc[second_sample['tagline'].isnull(), 'tagline'] = second_sample.loc[second_sample['tagline'].isnull(), 'original_title']
sample.isnull().sum()

model_index       0
id                0
original_title    0
overview          0
dtype: int64

In [152]:
second_sample = second_sample.reset_index().rename(columns = {'index': 'model_index'})
second_sample['model_index'] = second_sample['model_index'].astype(str)

In [153]:
second_sample.head()

,model_index,model_index,id,original_title,overview,tagline,merged
0,0,0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,1,1,8844,Jumanji,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...
2,2,2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...
3,3,3,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom..."
4,4,4,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...

# Appendix

Here, we wrap up all pipeline into functions to re-use if needed and it is just prettier to code this way :)

In [154]:
def get_clean_tags_array(agg_tags: pd.DataFrame,
                         text_col = 'tag'):
    '''text preprocessing
    '''
    tags_corpus = agg_tags[text_col].values
    tags_corpus = [re.sub('-[!/()0-9]', '', x) for x in tags_corpus]
    stop_words = stopwords.words('english')


    # preprocess corpus of movie tags before feeding it into Doc2Vec model
    tags_doc = [TaggedDocument(words = word_tokenize_clean(D, stop_words), tags = [str(i)]) for i, D in enumerate(tags_corpus)]

    return tags_doc

In [155]:
def train_embeddings(tags_doc: np.array,
                     epochs = 20,
                     vec_size = 50,
                     alpha = .02,
                     min_alpha =  0.00025,
                     min_count = 5,
                     save_path: str = None):
    """
    fit doc2vec model to prepared corpus
    :tags_doc: result of get_clean_tags_array()
    :max_epocs: int
    :vec_size: int
    :alpha: float
    """
    #initialize
    model = Doc2Vec(vector_size = vec_size,
                    alpha = alpha, 
                    min_alpha = min_alpha,
                    min_count = min_count,
                    dm = 0)
    
    #generate vocab from all tag docs
    model.build_vocab(tags_doc)
    
    #train model
    model.train(tags_doc,
                total_examples = model.corpus_count,
                epochs = epochs)
    
    #save model to dir
    if save_path:
        model.save(f'{save_path}/d2v_model.pkl')
    
    return model

In [62]:
second_sample['merged'] = second_sample['overview'] + second_sample['tagline']
new_corpus = get_clean_tags_array(second_sample, 'merged')

In [70]:
movies_inv_mapper = dict(zip(second_sample['original_title'].str.lower(), second_sample['model_index'].astype(int)))

In [76]:
new_model = train_embeddings(new_corpus)

In [173]:
def get_recommendations(movies : list,
                        model):
  movies_vectors = model.dv.vectors

  frames = []
  final_out = pd.DataFrame(data = None, columns= ['model_index',  'model_score', 'title_name'])
  for m in movies:
    movie_id = movies_inv_mapper[m]
    movie_embeddings = movies_vectors[movie_id]

    similars = model.docvecs.most_similar(positive = [movie_embeddings], topn = 20)
    output = pd.DataFrame(similars, columns = ['model_index', 'model_score'])

    name_mapper = {v: k for k, v in movies_inv_mapper.items()}

    output['title_name'] = output['model_index'].astype(int).map(name_mapper)
    frames.append(output)
    new_df = pd.concat(frames)
    new_df = new_df.sort_values(by=['model_score'], ascending=False, ignore_index=True).reset_index(drop=True)
  
  new_df = new_df.loc[np.r_[len(movies):20 + len(movies)], :].reset_index(drop=True)

  return new_df

In [176]:
# pass film name to the function as a list
recs = get_recommendations(['batman', 'rollover'], new_model)

In [177]:
recs

   model_index  model_score                title_name
0        37879     0.955346            let's go navy!
1        41083     0.955260          bon bini holland
2        33414     0.952598     the pie-covered wagon
3        43285     0.951841                win it all
4        19698     0.951358         chasing mavericks
5        19964     0.950943        stand up and fight
6         2411     0.950156      the towering inferno
7        30850     0.949118         aloha scooby-doo!
8        27438     0.949055                      ドライブ
9        45136     0.949015                    banana
10       22543     0.948825              stille nacht
11        8787     0.948533  parts: the clonus horror
12        1476     0.948228               schizopolis
13       30707     0.946952           the nickel ride
14       44974     0.946923     the paedophile hunter
15       44072     0.946144                 sexy boys
16       12941     0.945996         the foot fist way
17       11186     0.945473               adams æbler
18       31064     0.945410         da geht noch was!
19       37877     0.927558          bowery battalion